@import "../../Styles/variables.scss";

.item__description {
    text-align: center;
    color: $primary-color;
}
.item__input {
    vertical-align: top;
    width: 25px;
    height: 25px;
    border-radius: 0;
    text-align: center;
    font-family: inherit;
}
.item__button {
    vertical-align: top;
    width: 31px;
    height: 31px;
    border-radius: 0; 
    border: 1px solid $border-color;
    color: $primary-color;
    cursor: pointer;
    font-family: inherit;

}
.item__delete-btn .item__edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__delete-btn {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.item__edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30px;
    height: 30px;
    cursor: pointer;
}