@import "../../Styles/variables.scss";

.shopping-cart-container {
    padding: 40px 25px;
    width: 70%;
    height: 80%;
 }

 .shopping-cart-container__main-shopping-cart {
    border: 1px solid $border-color;
 }
  