@import "../../Styles/variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.header__shopping-cart-title {
    font-weight: 200;
    color: $primary-color;
}

.header__button {
    @include button
}